<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Jg==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	3A==
	</data>
	<key>_kdp_ipstr</key>
	<data>
	MTkyLjE2OC4xMC4xNDU=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	iYKsBQAAAADTFIDmUADmJw==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	iYKsBQAA0xSA5lAA5ic=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-backup-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjFGNDFFRDFDLTFD
	MEYtNDRDQS05NkM1LTBBNkRFQjY1OEZEOTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-backup-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAUAwUGABUABAEqAAIAAAAoQAYAAAAAAGj4AQEAAAAAHO1B
	Hw8cykSWxQpt62WP2QICf/8EAA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjU1MDY5OTYxLUI4
	RDQtNEE1MS1CNjRDLTUzOEFGMUFERTk0RTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAQbAQEGAAAAAxcQAAEAAAAAJThZkbPa8AQBKgACAAAAKEAG
	AAAAAAAgGRYdAAAAAGGZBlXUuFFKtkxTivGt6U4CAgQDJAD3/HS+fAvzSZFHAfQELmhC
	3nghG3vEBU+72+XMX8Z/rn//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEA==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	BpAHAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ZDgAM180XwA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AhEPAAAW
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajE3NAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	VHJpbmjigJlzIE1hYyBtaW5p
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDdAQIDBAUGBwgJCgsMDQ4PFhcOGA4ZGhscHR9fEA91bnJlZ2lzdGVyU3Rh
	dGVYdXNlckluZm9ZYXV0aFRva2VuXnJvb3RWb2x1bWVVVUlEXmRpc2FibGVDb250ZXh0
	VnVzZXJpZF1lbmFibGVDb250ZXh0WHVzZXJuYW1lWHBlcnNvbklEVGd1aWRXYWRkVGlt
	ZV8QEmVuYWJsZWREYXRhY2xhc3Nlc18QE2RhdGFjbGFzc1Byb3BlcnRpZXMQANMQERIT
	FBVfEBVJblVzZU93bmVyRGlzcGxheU5hbWVfEBNJblVzZU93bmVyRmlyc3ROYW1lXxAS
	SW5Vc2VPd25lckxhc3ROYW1lXxAQVGllbiBUaGFuaCBUcmluaFVUcmluaFpUaWVuIFRo
	YW5oXxDMRUFBVEFBQUFCTHdJQUFBQUFGNDJTUEFSRG1kekxtbGpiRzkxWkM1aGRYUm92
	UUFWUUlnZUtJXzNTaTMxSDlpQkRoTkNXcTAxV2tTV2J4bG9Dcm5YaE16N1NYUHNVWkdI
	UFRRV1dPQ01WclgwS1AySDJycVhmNlVUVWFNSG9xYnc3VjZrUFpzVTdvN21PQlJvay1N
	T3pkazlBQWZMUE9SNzhjdi1DdmxvUlJPVG5GQjhTdDZrMjdCejFEbV9XY0NxbXVOZVdo
	X1pnZ35+XxAkMUIyMTc4REUtQzQ3Qi00RjA1LUJCREItRTVDQzVGQzY3RkFFEQH1XxAX
	dGhhbmh0dC5rdGI1MUBnbWFpbC5jb21aMTk2NzIyOTYwNl8QJEE2Q0RGQzAyLTk3ODAt
	NEUzOS05OTI2LTEwM0M0N0M0NDA4QiNB142SQEtbOqEeXxAhY29tLmFwcGxlLkRhdGFj
	bGFzcy5EZXZpY2VMb2NhdG9y0R4g1SEiIyQlJicoKSpWYXBzRW52WGhvc3RuYW1lXWlk
	c0lkZW50aWZpZXJWc2NoZW1lXWF1dGhNZWNoYW5pc21aUHJvZHVjdGlvbl8QE3AxMi1m
	bWlwLmljbG91ZC5jb21fECREQ0M4OTYyRS1BN0YyLTRBMEQtOTM2Ny1EN0VBRDU0RDAw
	MzdVaHR0cHNVdG9rZW4ACAAjADUAPgBIAFcAZgBtAHsAhACNAJIAmgCvAMUAxwDOAOYA
	/AERASQBKgE1AgQCKwIuAkgCUwJ6AoMChQKpAqwCtwK+AscC1QLcAuoC9QMLAzIDOAAA
	AAAAAAIBAAAAAAAAACsAAAAAAAAAAAAAAAAAAAM+
	</data>
	<key>fmm-mobileme-token-FMM-BridgeHasAccount</key>
	<data>
	QnJpZGdlSGFzQWNjb3VudFZhbHVl
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MjUy
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAQbAQEGAAAAAxcQAAEAAAAAJThZkbPa8AQBKgACAAAAKEAG
	AAAAAAAgGRYdAAAAAGGZBlXUuFFKtkxTivGt6U4CAgQDJAD3/HS+fAvzSZFHAfQELmhC
	3nghG3vEBU+72+XMX8Z/rn//BAA=
	</data>
</dict>
</plist>